body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #ff3366;
    color: white;
    text-align: center;
    padding: 20px;
}

#restaurantSelectContainer {
    margin: 20px 0;
}

#restaurantSelect {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

main {
    flex: 1;
    display: flex;
    padding: 20px;
    gap: 20px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1;
}

.menu-item {
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1 0 30%; /* Make each item take up to 30% of the row */
}

.menu-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.menu-item h3 {
    margin: 10px 0;
}

button {
    background-color: #ff3366;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #ff2a5d;
}

#cart {
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#cartItems {
    list-style-type: none;
    padding: 0;
}

#cartItems li {
    margin-bottom: 10px;
}

#orderConfirmation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: none;
}

footer {
    background-color: #ff3366;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 5px 0;
}